@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
* {
  -webkit-transition: 300ms !important;
  transition: 300ms !important;
}

*, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
  border-radius: 0 !important;
}

html {
  font-size: 16px;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #333333;
  color: white;
}

a, a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #333333 !important;
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff !important;
}

.navbar .navbar-brand span {
  color: #fff11e;
}

.navbar .collapse .btn {
  color: #fff11e;
  outline: none;
  border: 0.5px solid #fff11e;
}

.navbar .collapse .btn:active, .navbar .collapse .btn:hover {
  background-color: #fff11e;
  color: #333333;
  outline: none;
}

.navbar a {
  color: #ffffff !important;
}

.navbar .dropdown-menu a {
  color: #333333 !important;
}

.navbar .navbar-toggler-icon {
  color: white;
}

#content, .content {
  overflow-y: auto !important;
  padding-bottom: 3rem;
}

.cover-wrapper .cover {
  height: 50vh;
  overflow: hidden;
}

.cover-wrapper .cover .cover-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cover-wrapper .cover .cover-overlay {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33333369), to(#333333));
  background-image: linear-gradient(#33333369, #333333);
  padding-top: 10rem;
}

.cover-wrapper .cover .cover-overlay p {
  max-width: 1000px;
}

.cover-wrapper .cover .cover-overlay p.title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}

.cover-wrapper .cover .cover-overlay p.title span {
  color: #fff11e;
}

.cover-wrapper .cover .cover-overlay p.desc {
  color: #ffffff;
  text-align: left;
  font-size: 1.25rem;
}

.cover-wrapper .movies-section {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 2px solid #fff11e;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: auto;
}

.movies .single-movie {
  height: 20rem;
  width: 15rem;
  overflow: hidden;
  margin: 0 auto;
}

.movies .single-movie:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  background-color: #333333b4;
  border: 3px solid #fff11e;
}

.movies .single-movie .poster {
  height: inherit;
  width: inherit;
  border-radius: 1rem !important;
  overflow: hidden;
}

.movies .single-movie .poster img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.movies .single-movie .overlay {
  display: none;
  color: #fff11e;
  font-size: 3rem;
  font-weight: 900;
  height: inherit;
  width: inherit;
  margin-top: 18rem;
  border-radius: 1rem !important;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.movies .details .movie-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff11e;
  margin-top: .5rem;
}

.movies .details .small-details {
  color: white;
  font-size: .8rem;
  font-weight: 500;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff01e00), to(#333333));
  background-image: linear-gradient(#fff01e00, #333333);
  color: #ffffff;
  height: 50px;
}

.content .bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -101;
  mix-blend-mode: darken;
}

.content .bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .1;
}

.content .content-wrapper .movie-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  background-color: #9a9c92;
  border-radius: 1rem !important;
  -webkit-box-shadow: 0 1px 50px -10px black;
          box-shadow: 0 1px 50px -10px black;
  overflow: hidden;
}

.content .content-wrapper .movie-card .poster {
  height: inherit;
  width: 30%;
}

.content .content-wrapper .movie-card .poster .poster-image {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

.content .content-wrapper .movie-card .poster .poster-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .content-wrapper .movie-card .poster .poster-overlay {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.content .content-wrapper .movie-card .poster .poster-overlay a {
  color: #ffffff;
  font-size: 4rem;
}

.content .content-wrapper .movie-card .details {
  color: #ffffff !important;
}

.content .content-wrapper .movie-card .details .title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff11e;
}

.content .content-wrapper .movie-card .details .small-details {
  font-weight: 700;
  font-size: .9rem;
}

.content .content-wrapper .movie-card .extra-details .release-date > p:first-child,
.content .content-wrapper .movie-card .extra-details .runtime > p:first-child,
.content .content-wrapper .movie-card .extra-details .booked > p:first-child {
  font-size: .8rem;
  line-height: 1;
  font-weight: 700;
  color: #fff11e;
}

.content .content-wrapper .dividing-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid #fff11e;
}

.content .content-wrapper .cinemas .cinemas-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.content .content-wrapper .cinemas .cinemas-list .cinema-name {
  color: #fff11e;
  font-weight: 600;
}

.content .content-wrapper .cinemas .cinemas-list .show {
  border: 1px solid #fff11e;
  border-radius: 1rem !important;
  color: #ffffff;
}

.content .content-wrapper .cinemas .cinemas-list .show:hover {
  background-color: #9a9c92;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.content .content-wrapper .cinemas .cinemas-list .show > * {
  line-height: 1 !important;
  text-align: center;
  font-size: .8rem;
}

.content .content-wrapper .cinemas .cinemas-list .show .showtime {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 1340px) {
  .content .content-wrapper .movie-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .content .content-wrapper .movie-card .poster {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */