@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

$yellow: #fff11e;
$black: #333333;
$white: #fff2f2;
$blue: #45b0e6;
*{
    transition: 300ms !important;
}
*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
    
}
html{
    font-size: 16px;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background-color: #333333;
    color: white;
}

a, a:hover{
    text-decoration: none;
}
.navbar{
    background-color: $black !important;
    .navbar-brand {
        font-size: 3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: $white !important;
        span{
            color: $yellow;
        }
    }
    .collapse{
        .btn{
            color: $yellow;
            outline: none;
            border-radius: .5rem !important;
            border:.5px solid $yellow;
            &:active, &:hover{
                background-color: $yellow;
                color: $black;
                outline: none;
            }
        }
        input{
            border-radius: .5rem !important;
        }
    }
    a{
        color: $white !important    ;
    }
    .dropdown-menu{
        a{
            color: $black !important;
        }
    }
    .navbar-toggler-icon{
        color: white;
    }
}

#content, .content{
    overflow-y: auto !important;
    padding-bottom: 3rem;
}

.cover-wrapper{
    .cover{
        height: 50vh;
        overflow: hidden    ;
        .cover-image{
            img{
                object-fit: cover;
            }
        }
        .cover-overlay{
            height: 100%;
            width: 100%;
            background-image: linear-gradient(#33333369, $black);
            padding-top: 10rem;

            p{
                max-width: 1000px;
            }

            
            p.title{
                color: $white;
                font-size: 3rem;
                font-weight: 700;
                span{
                    color: $yellow;
                }
            }
            p.desc{
                color: $white;
                text-align: left;
                font-size: 1.25rem;
            }
        }
    }
    .movies-section{
        color: $white;
        font-weight: 700;
        font-size: 1.5rem;
        border-bottom: 2px solid $yellow;
    }
}

.movies{
    display: flex;
    gap: 1.5rem;
    margin: 2rem;
    flex-wrap: wrap;
    padding-left: auto;
    .single-movie{
        height: 20rem;
        width: 15rem;
        box-shadow: 0 1px 50px -10px black;
        overflow: hidden;
        margin: 0 auto;
        &:hover{
            .poster{
                img{
                    transform: scale(1.05);
                }
            }
           .overlay{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                background-color: #333333b4;
                border-bottom: 3px solid $yellow;
           }
        }
        
        .poster{
            height: inherit;
            width: inherit;
            border-radius: 1rem !important;
            overflow: hidden;
            
            img{
                min-height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .overlay{
            display: none;
            color: $yellow;
            font-size: 3rem;
            font-weight: 900;
            height: inherit;
            width: inherit;
            margin-top: 18rem;
            border-radius: 1rem !important;
            overflow: hidden;
            transition: 300ms;
        }
    }
    .details{
        .movie-title{
            font-size: 1.2rem;
            font-weight: 700;
            color: $yellow;
            margin-top: .5rem;
        }
        .small-details{
            color: white;
            font-size: .8rem;
            font-weight: 500;

        }
    }
}
footer{
    background-image: linear-gradient(#fff01e00, $black);
    color: $white;
    height: 50px;
}

.content{
    .bg{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: -101;
        mix-blend-mode: darken;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: .05;
        }
    }
    .content-wrapper{
        .movie-card{
            display: flex;
            flex-direction: row;
            background-color: $black;
            border-radius: 1rem !important;
            box-shadow: 0 1px 50px -10px black;
            overflow: hidden;
            .poster{
                height: inherit;
                
                width: 30%;
                .poster-image{
                    height: 100%;
                    width: 100%;
                    min-width: 300px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .poster-overlay{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    a{
                        color: $white;
                        font-size: 4rem;
                    }
                }
            }
            .details{
                color: $white !important;
                .title{
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: $yellow;
                }
                .small-details{
                    font-weight: 700;
                    font-size: .9rem;
                }
            }
            .extra-details{
                .release-date,
                .runtime,
                .booked  {
                    &>p:first-child{
                        font-size: .8rem;
                        line-height: 1;
                        font-weight: 700;
                        color: $yellow;
                    }
                }
                .rating{
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 1;
                    display: flex;
                    color: $white;
                    align-items: center;
                }
            }
        }

        .dividing-line{
            display: flex;
            flex-grow: 1;
            border-top: 1px solid $yellow;
        }
        .cinemas{
            .cinemas-title{
                font-size: 1.5rem;
                font-weight: 700;
            }
            .cinemas-list{
                .cinema-name{
                    color: $yellow;
                    font-weight: 600;
                }
                .show{
                    border: 1px solid $yellow;
                    border-radius: 1rem !important;
                    color: $white;
                    &:hover{
                        background-color: $black;
                        transform: scale(1.025);
                    }
                    &>*{
                        line-height: 1 !important;
                        text-align: center;
                        font-size: .8rem;
                    }
                    .showtime{
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
                }
            }
        }
        @media only screen and (max-width:1340px) {
            .movie-card{
                display: flex;
                flex-direction: column !important;
                .poster{
                    display: none;
                }
            }
        }
    }
}

.ticket-card{
    background-color: $black;
    border-radius: 1rem !important;
    box-shadow: 0 1px 50px -10px black;
    *{
        color: $yellow;
    }
    .btn{
        background-color: transparent;
        color: $yellow;
        outline: none;
        border: 1px solid $yellow;
        margin-top: 2rem;
        &:hover{
            background-color: $yellow;
            color: $black;
        }
    }
    input[type=number]{
        background-color: $black;
        border: none;
        outline: none;
        position: relative;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            opacity: 1;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: inner-spin-button !important;
            width: 25px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
}