{% extends 'etiqette/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<main class="content">
    <div class="content-wrapper">
        <div class="movie-card mx-5 mt-5">
            <div class="poster position-relative">
                <div class="poster-image position-absolute">
                    <img src="{% static 'img/backdrop1.jpg'%}" alt="" class="img-fluid">
                </div>
                
            </div>
            <div class="details position-relative p-5">
                <p class="title">{{cinema.name}}</p>
                <p class="small-details">{{cinema.location}}</p>
                <p class="description">{{cinema.description}}</p>

                <div class="extra-details d-flex gap-5">
                    <div class="release-date">
                        <p>Rating</p>
                        <p class="rating"><i class='bx bx-calendar-star'></i> {{cinema.rating}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="dividing-line m-5"></div>
        <div class="cinemas mx-5">
            <div class="cinemas-title">
                <p>Movies Showing</p>
            </div>
            <div class="movies mx-5">
                {% for session in sessions%}
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="https://image.tmdb.org/t/p/w500{{session.movie.poster_path}}" alt="" class="img-fluid">
                </div>
                <a class="overlay position-absolute" href="{% url 'movie' movie_id=session.movie.movie_id%}">
                    {{session.movie.vote_average}}
                </a>
            </div>
            <div class="details">
                <p class="movie-title">{{session.movie.title | truncatechars:24}}</p>
                <p class="small-details">{% if session.movie.adult %}Adult{%else%}GE{%endif%} | {{session.movie.runtime}}min |
                    {{session.movie.original_language}} | Imax 3D</p>
            </div>
        </div>
        {%endfor%}
        
    </div>
        </div>
    </div>
    <div class="bg">
        <img src="{% static 'img/backdrop.jpg'%}" alt="">
    </div>
</main>
{%endblock%}