{% extends 'etiqette/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<main id="content">
<div class="cover-wrapper w-100">
    <div class="cover position-relative">
        <div class="cover-image position-absolute w-100">
            <img src="{% static 'img/backdrop.jpg'%}" alt="" class="img-fluid w-100">
        </div>
        <div class="cover-overlay position-absolute">
            <p class="title mx-5">Book e <span>tiqette</span> with us!</p>
            <p class="desc mx-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit sunt, animi aspernatur.</p>
        </div>
    </div>
    <p class="movies-section mx-5 pb-5">Now Showing</p>
    <div class="movies mx-5">
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop2.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">The Awakening</p>
                <p class="small-details">16 | 107min | English | Imax 3D</p>
            </div>
        </div>
        
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop1.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">The Awakening</p>
                <p class="small-details">16 | 107min | English | Imax 3D</p>
            </div>
        </div>
        
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop2.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">The Awakening</p>
                <p class="small-details">16 | 107min | English | Imax 3D</p>
            </div>
        </div>
        
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop3.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">The Awakening</p>
                <p class="small-details">16 | 107min | English | Imax 3D</p>
            </div>
        </div>
        
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop2.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">The Awakening</p>
                <p class="small-details">16 | 107min | English | Imax 3D</p>
            </div>
        </div>
        
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop2.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">The Awakening</p>
                <p class="small-details">16 | 107min | English | Imax 3D</p>
            </div>
        </div>
        
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="{% static 'img/backdrop3.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="overlay position-absolute">
                    7.5
                </div>
            </div>
            <div class="details">
                <p class="movie-title">Straightening</p>
                <p class="small-details">21 | 124min | English | Imax 3D</p>
            </div>
        </div>
        

       
    </div>
</div>
</main>
{%endblock%}