{% extends 'etiqette/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<main id="content">
<div class="cover-wrapper w-100">
    <div class="cover position-relative">
        <div class="cover-image position-absolute w-100">
            <img src="{% static 'img/backdrop.jpg'%}" alt="" class="img-fluid w-100">
        </div>
        <div class="cover-overlay position-absolute">
            <p class="title mx-5">Book e <span>tiqette</span> with us!</p>
            <p class="desc mx-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia fugit sunt, animi aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque deserunt tempore, adipisci voluptate provident sapiente. Doloribus, repellat reiciendis earum obcaecati, modi quam recusandae aut distinctio, eligendi facere odio voluptates consequatur.</p>
        </div>
    </div>
    <p class="movies-section mx-5 pb-5">Now Showing</p>
    <div class="movies mx-5">
        {%for session in sessions %}
        <div class="movie">
            <div class="single-movie">
                <div class="poster position-absolute">
                    <img src="https://image.tmdb.org/t/p/w500{{session.movie.poster_path}}" alt="" class="img-fluid">
                </div>
                <a class="overlay position-absolute" href="{% url 'movie' movie_id=session.movie.movie_id %}">
                    {{session.movie.vote_average}}
                </a>
            </div>
            <div class="details">
                <p class="movie-title">{{session.movie.title | truncatechars:24}}</p>
                <p class="small-details">{% if adult %}Adult{%else%}GE{%endif%} | {{session.movie.runtime}}min |
                    {{session.movie.original_language}} | Imax 3D</p>
            </div>
        </div>
        {%endfor%}
        
    </div>
</div>
</main>
{%endblock%}