{% extends 'etiqette/base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<main class="content">
    <div class="content-wrapper">
        <div class="movie-card mx-5 mt-5">
            <div class="poster position-relative">
                <div class="poster-image position-absolute">
                    <img src="https://image.tmdb.org/t/p/w500{{session.movie.poster_path}}" alt="" class="img-fluid">
                </div>
                <div class="poster-overlay position-absolute">
                    <a href="{{session.movie.trailer}}"><i class='bx bx-play-circle'></i></a>
                </div>
            </div>
            <div class="details position-relative p-5">
                <p class="title">{{session.movie.title}}</p>
                <p class="small-details">{% if adult %}Adult{%else%}GE{%endif%} | {{session.movie.genre}} | {{session.movie.original_language}} | Imax3D</p>
                <p class="description">{{session.movie.overview}}</p>

                <div class="extra-details d-flex gap-5">
                    <div class="release-date">
                        <p>Release Date</p>
                        <p><i class='bx bxs-calendar'></i> {{session.movie.release_date|date}}</p>
                    </div>
                    <div class="runtime">
                        <p>Runtime</p>
                        <p><i class='bx bx-time-five'></i> {{session.movie.runtime}} mins</p>
                    </div>
                    <div class="booked">
                        <p>Booked</p>
                        <p><i class='bx bxs-heart'></i> 1 ticket</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="dividing-line m-5"></div>
        <div class="cinemas mx-5">
            <div class="cinemas-title">
                <p>Cinemas Showing</p>
            </div>
            <div class="cinemas-list">
                {% for cinema in cinemas %}
                <div class="cinema mt-5">
                    <div class="cinema-name">
                        <p>{{cinema.name}}, {{cinema.location}}</p>
                    </div>
                    <div class="cinema-shows d-flex gap-5">
                        {% for sesh in sessions %}
                        {% if sesh.cinema.id == cinema.id %}
                        <a href="{% url 'book' %}" class="show p-2 py-4">
                            <p class="showtime">{{ sesh.start_time | time:'G:i'}}H</p>
                            <p class="showtype">{{cinema.name}}(IMAX3D)</p>
                            <p class="showdate">{{ sesh.start_time | date}}</p>
                        </a>
                        {%endif%}
                        {%endfor%}
                        
                    </div>
                </div>
                {%endfor%}
                
            </div>
        </div>
    </div>
    <div class="bg">
        <img src="{% static 'img/backdrop.jpg'%}" alt="">
    </div>
</main>
{%endblock%}